.underline {
  text-decoration: underline;
}

ion-input {
  --background: var(--ion-color-light-tint);
}

.noPaddingTop {
  padding-top: 0px;
  margin-top: 0px;
}

.noPaddingBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.time {
  size: 16px;
  font-weight: bold;
}

.paddingRight {
  padding-right: 5px;
}
